# Virtual environment
venv/
__pycache__/
*.pyc

# Env
.env

# Git and IDE
.git/
.gitignore
.vscode/

# Node
node_modules/
package.json
package-lock.json

# Docs
README.md

# Tests and scripts (not needed in prod)
tests/
scripts/
